body {
        margin-top: 50px;
        margin-bottom: 50px;
        background: none;
}

.full {
  background: rgba(0, 0, 0, 0.15) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-nav > div.username{
    color: white;
    display: inline;
}

.navbar-nav form#logoutForm {
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

@media (min-width: 768px) {
    .navbar-nav form#logoutForm {
        padding-top: 15px; 
        padding-bottom: 15px;
    }
}

.navbar-nav form#logoutForm a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #999999;
}

.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.bs-callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #eed3d7;
}